{% extends 'Board/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block description %}
{% endblock description %}

{% block editroute %}/edit{% endblock editroute %}

{% block tablebody %}
    {% for item in accountability %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <div class="mdl-selectfield">
                    <input value="1" name="existing" type="hidden">
                    <label>Standard Select</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Kies je vak</option>
                        {% for vak in vakken %}
                            <option {% if(item.getCourse().getId == vak.getID) %} selected {% endif %}
                                    value="{{vak.getId()}}">{{vak.getCourseName()}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" value="{{ item.getMinutes() }}" type="text" id="pass">
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" type="text" value="{{ item.getNote() }}" id="pass">
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
            <div class="mdl-selectfield">
                <label>Standard Select</label>
                <select class="browser-default">
                    <option value="" disabled selected>Kies je vak</option>
                    {% for vak in vakken %}
                    <option value="{{vak.getId()}}">{{vak.getCourseName()}}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
        <td>
            <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" type="text" id="pass">
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" type="text" id="pass">
        </td>
    </tr>
{% endblock tablebody %}

{% block buttonholder %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-button-holder">
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-float-left add-field">
                <i class="material-icons">add</i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-float-right remove-field">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>
{% endblock buttonholder %}

{#
    periode, datum, aantal minuten, activiteit, betrokken lesvak, opmerking
 #}
