{% extends 'Board/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block description %}
{% endblock description %}

{% block cardmenu %}
    <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/verantwoording/{{date.date_today}}/edit">
        <i class="material-icons">edit</i>
    </a>
{% endblock cardmenu %}

{% block tablebody %}
    {% for item in accountability %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{item.getCourse().getCourseName()}}</td>
        <td>{{item.getMinutes()}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{item.getNote()}}</td>
    </tr>
    {% endfor %}
{% endblock tablebody %}

{% block buttonholder %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell--1-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-button-holder">
        <div class="mdl-card__actions mdl-card--border">
            <a href="{{ app.url_generator.generate('newTimeBoard', { 'dateId' : date.date_today}) }}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-float-left">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock buttonholder %}

{#
    periode, datum, aantal minuten, activiteit, betrokken lesvak, opmerking
 #}
